body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background-color:#F0FFFF;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.img{
    display: block;
    max-width: 100%;
    height: auto; 
	margin: 30px auto;
    border: 1px solid #eee;
    border-radius: 8px;
    
}

/* CV-Page */
.cv-page{
    width: 1000px;
    margin: 20px auto;
    background-color: #FFF8DC;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #3f4368;
}

.container{
    display: flex;
}

.content{
    padding: 0 20px;
}
.cv-name{
    margin-bottom: 30px;
    padding: 40px 0 0 50px;
    font-size: 50px;
    line-height: 1.1;
}

.article{
    margin-bottom: 20px;
	padding-bottom: 10px;
    padding-left: 20px;
	
}
.article-title{
    font-size: 26px;
	color: #7324a8;
    border-bottom: 1px solid #ccc;
}

.article-text{
    line-height: 1;
    margin-top: 25px;
}
.article-atribut{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.article-info{
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
}

.sidebar-article{
    margin-top: 30px;;
    margin-bottom: 20px;
	padding-bottom: 10px;
    padding-left: 20px;
}

.sidebar{
    width: 700px;
    padding: 10px;
    background-color: #eee;

}
